body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.parallelogram {
  background: #fff;
	border:1px solid black;
  float: left;
  font-size: 1.8vw;
  font-weight: bold;
	width: 4vw;
	height: 2.4vw;
  transform: skew(-45deg);
  text-align: center;
}

.square {
  background: #fff;
  border: 1px solid black;
  float: left;
  font-size: 6vw;
  font-weight: bold;
  line-height: 3vw;
  height: 6vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 6vw;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
